<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>My Bruno Latour fan site</title>
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
  <!-- add your own CSS here, either as a style element or as a link (place the CSS file in public/css) -->
</head>

<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about/Bruno_Latour">Main page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/concepts">Linked data concepts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/linked_data">Linked data for digital libraries</a>
        </li>
      </ul>
    </nav>