<%- include("_header") -%>

<h1>Central concepts</h1>

<h2>API</h2>

<p>An "API" (Application Programming Interface) is a set of protocols and tools for building software and applications. They have the advantage of simplifying complex code, so they can provide easier syntax to be used in its place (Mozilla, 2023). An API allows software to interact with other software. More specifically, a Web API, which is an application programming interface for the web, allows online interactions (W3Schools, 2023). An API serves as an entry point that enables programmers to program something in order to make something accessible for machines (Van Hooland & Verborgh, 2014). An API acts as a middle step in the process of data exchange between systems. This way, companies can co-operate with external developers, business partners, and other departments within their companies (IBM, 2023). APIs are used in many industry sectors, such as financial services, hospitality, healthcare, telecommunications, etc. (Oracle, 2023). APIs are beneficial for companies since they improve collaboration and communication, offer flexibility in their operations, offer layers of security between application, resulting to protection for the end-user as well (IBM, 2023).</p>

<h3>References</h3>

<ul>
  <li>ΙΒΜ. What is an API?.  Read on 2 October, 2023. <a href="https://www.ibm.com/topics/api">https://www.ibm.com/topics/api</a>.</li>
  <li>Mozilla. MDN Web Docs. Read on 29 September, 2023. <a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Introduction">https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Introduction</a>.</li>
  <li>Oracle. Read on 29 September 2023. <a href="https://www.oracle.com/cloud/cloud-native/api-management/industry-apis/">https://www.oracle.com/cloud/cloud-native/api-management/industry-apis/</a>.</li>
  <li>W3Schools. Read on 29 September, 2023. <a href="https://www.w3schools.com/whatis/whatis_api.asp">https://www.w3schools.com/whatis/whatis_api.asp</a>.</li>
</ul>

<h2>SPARQL</h2>

<p>SPARQL, which stands for SPARQL Protocol and RDF Query Language, is a complex querying language and protocol for querying and manipulating RDF (Resource Description Framework) data. RDF facilitates data merging, serves as a model for exchanging data online and stands as a crucial component of the Semantic Web (W3C, 2014). In SPARQL, the structure of the data is outlined in a WHERE clause that is based on graph patterns (Van Hooland & Verborgh, 2014). It is created to handle various data types, so it retrieves information from inconsistent data stored in various formats and locations. The SPARQL standard is developed by the W3C and it enables users and developers to focus on their queries rather than the structure of the database (Ontotext, 2023).</p>

<h3>References</h3>

<ul>
  <li>Ontotext USA, Inc.. (2023). Ontotext. Read on 1 October, 2023. <a href="https://www.ontotext.com/knowledgehub/fundamentals/what-is-sparql/">https://www.ontotext.com/knowledgehub/fundamentals/what-is-sparql/</a>.</li>
  <li>Van Hooland, S., & Verborgh, R. (2014). Linked Data for Libraries, Archives and Museums: How to clean, link and publish your metadata. Facet publishing.</li>
  <li>W3C. (15 March, 2014). W3C Semantic Web. Read on 1 October, 2023. <a href="https://www.w3.org/RDF/">https://www.w3.org/RDF/</a>.</li>
</ul>

<h2>Linked Data</h2>

<p>Linked Data is a set of guidelines for publishing interlinked, computer-readable data across the Web (Ontotext, 2023). The publishing of such data is done according to a set of best practices, the Linked Data Principles (Bizer, Vidal, Skaf-Molli, 2018). Linked data creates a dynamic perspective on data, allowing diverse data sources to connect in a standard way (Van Hooland & Verborgh, 2014). It utilizes foundational web tools like HTTP, RDF, and URIs. However, instead of just presenting web pages for human readers, it adapts them so that can be also read and interpreted by computers, aspiring that the internet can become a global database (Wikipedia, 2023), where more things can be discovered, enabling a web of data and not just a web of documents to be created (Berners-Lee, 2009). The term Linked Data is frequently used in pair with the term Semantic We. The two terms are closely connected, but not the same. For Semantic Web to properly work and provide solutions, a set of standards and technologies are required for computers to go beyond just reading data, but get to a point where data is understood well enough in order to build relationships between them. This is where linked data becomes relevant and essential (Yoose & Perkins, 2013).</p>

<h3>References</h3>

<ul>
  <li>Berners-Lee, T. (18 June, 2009). W3C. Read on 1 October, 2023. <a href="https://www.w3.org/DesignIssues/LinkedData.html">https://www.w3.org/DesignIssues/LinkedData.html</a>.</li>
  <li>Ontotext USA, Inc.. (2023). Ontotext. Read on 1 October, 2023. <a href="https://www.ontotext.com/knowledgehub/fundamentals/linked-data-linked-open-data/">https://www.ontotext.com/knowledgehub/fundamentals/linked-data-linked-open-data/</a>.</li>
  <li>Van Hooland, S., & Verborgh, R. (2014). Linked Data for Libraries, Archives and Museums: How to clean, link and publish your metadata. Facet publishing.</li>
  <li>Wikipedia. (29 June, 2023). Linked data. Read on 1 October, 2023. <a href="https://en.wikipedia.org/wiki/Linked_data#cite_note-1">https://en.wikipedia.org/wiki/Linked_data#cite_note-1</a>.</li>
  <li>Yoose, B., & Perkins, J. (2013). The linked open data landscape in libraries and beyond. Journal of Library Metadata, 13(2-3), 197-211.</li>
</ul>

<%- include("_footer") -%>
