<%- include("_header") -%>

<h1>Linked data for digital libraries</h1>

<!-- your HTML and content here -->
<h2>Open Data</h2>

<p>The Open Data movement is important because it promotes transparency and accountability (especially from government agencies) through access to information (Van Hooland & Verborgh, 2014). Usually open data comes from public bodies and organizations, but open data can be also provided by private organizations, as the logic is that the data is funded by public money. Some examples of the domains open data derive from are: traffic, weather, geographical, tourist information, statistics, business, public sector budgeting, and performance levels, to all kinds of data about policies and inspection (food, safety, education quality, etc.) (Janssen, Charalabidis & Zuiderwijk, 2012). The large volume of data provided on the web and also the tools provided to interpret and re-use this data, makes a difference regarding political or economic decision-making (Van Hooland & Verborgh, 2014), thus helping companies to better understand markets, design new products and services, and improve the efficiency and effectiveness of operations (Chui, Farrell & Jackson, 2014).</p>

<p>Open access and open data in academic research, where academic libraries are involved, increases recognition and dissemination of research findings. It is found that OA articles are more immediately recognized and cited than non-OA articles in academia. This fast and wide dissemination of knowledge and important scientific findings can only be beneficial for scientific progress and development (Eysenbach, 2006).</p>

<p>Besides their advantages though, this free and open data distribution bears a significant risk of releasing sensitive and private information (Sweeney, 2002). Additionally the matter of data quality is relevant in the case of open data, since the larger the volume of data is the harder it is to check its quality. This issue along with the fact that it is often very complex to determine whether data quality is good or bad, this becomes an unsolved issue (Van Hooland & Verborgh, 2014). Moreover, several companies are not aware about the available open data and also consider open data services and products not profitable and useful enough. This lack of knowledge combined with the lack of resources and skills some companies experience (Zuiderwijk et al, 2015) leads to a limited utilization of open data, thus a waste of its potential benefits.</p>

<h2>Linked Data</h2>

<p>Linked data are important simply because they link data across the web. In order for this to be achieved, data from various information systems must become interconnected. For this to properly function so data can be connected and re-used, they need to be well structured (Heath & Bizer, 2022). This can lead to the development of the semantic web, which is trying to make the web accessible for software agents and go beyond only human-readable information which restricts the ways in which information is found (Van Hooland & Verborgh, 2014). A Machine-readable web can enable an understanding of the content and context of information on the web created (Berners-Lee, 2009), increasing the retrieval ability of search engines and specialized websites (Heath & Bizer, 2022).</p>

<p>This means that libraries and information institutions will be able to access information not only from their own various resources, but also from the resources of other institutions, since now the knowledge exists in order to know how to access the database of other institutions(Van Hooland & Verborgh, 2014). This ultimately provided added value services to the end users of libraries since it facilitates users to discover related resources and content (Heath & Bizer, 2022).</p>

<p>Despite their great advantages, linked data come with great complexity, since their development and management requires specialized knowledge because it is more complex than traditional databases (Hitzler & Janowicz, 2013). Furthermore, reliability issue can arise, because of the high volume of interconnected data and the difficulty that this may cause for the source reliability to be ensured (Hartig & Zhao, 2009).</p>

<h2>References</h2>

<ul>
  <li>Berners-Lee, T. (18 June, 2009). W3C. Read on 1 October, 2023. <a href="https://www.w3.org/DesignIssues/LinkedData.html">https://www.w3.org/DesignIssues/LinkedData.html</a>.</li>
  <li>Chui, M., Farrell, D., & Jackson, K. (2014). How government can promote open data. McKinsey Company.</li>
  <li>Eysenbach, G. (2006). Citation advantage of open access articles. PLoS biology, 4(5), e157.</li>
  <li>Hartig, O., & Zhao, J. (2009). Using web data provenance for quality assessment. CEUR Workshop Proceedings.</li>
  <li>Heath, T., & Bizer, C. (2022). Linked data: Evolving the web into a global data space. Springer Nature.</li>
  <li>Hitzler, P., & Janowicz, K. (2013). Linked Data, Big Data, and the 4th Paradigm. Semantic Web, 4(3), 233-235.</li>
  <li>Janssen, M., Charalabidis, Y., & Zuiderwijk, A. (2012). Benefits, adoption barriers and myths of open data and open government. Information systems management, 29(4), 258-268.</li>
  <li>Sweeney, L. (2002). k-anonymity: A model for protecting privacy. International journal of uncertainty, fuzziness and knowledge-based systems, 10(05), 557-570.</li>
  <li>Van Hooland, S., & Verborgh, R. (2014). Linked Data for Libraries, Archives and Museums: How to clean, link and publish your metadata. Facet publishing.</li>
  <li>Zuiderwijk, A., Janssen, M., Poulis, K., & van de Kaa, G. (2015). Open data for competitive advantage: insights from open data use by companies. In Proceedings of the 16th annual international conference on digital government research (pp. 79-88).</li>
</ul>

<%- include("_footer") -%>
