<%- include("_header") -%>

<h1>Linked data for digital libraries</h1>

<div class="row">

	<!-- your HTML and content here -->
	<h2>About something</h2>
	<p>This is a text about something different</p>
  
</div>

<%- include("_footer") -%>